{% extends 'base.html.twig' %}

{% block title %}Hello AnnuaireController!{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('app_annuaire_create') }}" class="btn btn-primary">Ajouter un contact</a>
        {% for contact in contacts %}
            <div class="card shadow m-2 text-center">
                <div class="card-header">
                    <h5 class="card-title">{{ contact.nom }} {{ contact.prenom }}</h5>
                </div>
                <div class="card-body">
                    <p>{{ contact.adresse }}</p>
                    <p class="card-text">
                        {{ contact.telephone }}<br>
                        {{ contact.mail }}
                    </p>
                </div>
                <div class="card-footer text-body-secondary">
                    <a href="{{ path('app_annuaire_edit', { 'id': contact.id }) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('app_annuaire_delete', { 'id': contact.id }) }}" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
